/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Open Sans';
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 281px;
  background-color: #f9e42e;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*clear: both;*/
}
/*
button {
  algin: center;
}*/

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

H1 {
  text-align: left;
  color: white;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 50px;
  font-weight: 700;
  font-family: "Open Sans";
}


.slogan {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 60px;
}


Main h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
  color: #121212;
}

main p {
    font-size: 13px;
    font-weight: 200;
    margin-left: 50px;
}

Main ul {
    font-size: 13px;
    margin-left: 30px;
}

Main {
  background-color: #f0efef;
  font-size: 20px;
  font-weight: 400;
  margin-top: 450px;
  margin-bottom: 30px;
  border: none;
  position:fixed;
  top: 0;
  left: 0;

/* Preserve aspet ratio */
min-width: 100%;
min-height: 50%;
}

.testimonial {
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 100px;
}

aside{
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  background: url(../images/testimonial_bg.jpg) no-repeat center bottom rgb(134,141,157);
  background-size: cover;
  margin-top: 650px;
  border: none;
  position:fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.by-line {
  font-style: normal;
  font-weight: semibold;
  font-size: 18px;

}

.testimonial_aside {
  padding-bottom: 500px;
}

footer h3 {

}

section .sign-up-now{
  background-color: #f9e42e;
  background-size: cover;
  margin-top: 1000px;
  border: none;
  position:fixed;
  min-width: 100%;
}

.sign-up-now button {
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 281px;
  background-color: #033048;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  border-color: #033048;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*clear: both;*/
}
